#PUBLISHER-TEST
PUBLISHER-TEST/paho*
PUBLISHER-TEST/mqtt*
PUBLISHER-TEST/target
PUBLISHER-TEST/.settings/

#SUBSCRIBER-TEST
SUBSCRIBER-TEST/paho*
SUBSCRIBER-TEST/mqtt*
SUBSCRIBER-TEST/target
SUBSCRIBER-TEST/.settings/